
<div id="form">
    <label for="first">First Name</label>
    <input id="first" type="text" value="{{First__c}}" />

    <br/>
    <label for="last">Last Name</label>
    <input id="last" type="text" value="{{Last__c}}" />

    <br/>
    <label for="phone">Telephone</label>
    <input id="phone" type="text" value="{{Telephone__c}}" />

    <br/>
    <label for="email">Email</label>
    <input id="email" type="text" value="{{Email__c}}" />

    <br/>
    <label for="notes">Notes</label>
    <textarea id="notes" type="text">{{Notes__c}}</textarea>

    <br/>
    <span id="location" class="alert alert-info">Location: {{Latitude__c}},{{Longitude__c}}</span>

    <br/>
    <br/>
    <a id="save" class="btn btn-success">Save</a>
    <a id="cancel" class="btn btn-danger">Cancel</a>
</div>